body{
    margin: 0px;
    padding: 0px;
    background-image: url(https://cdn.tutsplus.com/cdn-cgi/image/width=480/mobile/uploads/legacy/Corona-SDK_Build-A-Snake-Game/1/6.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    box-shadow: black 20px 10px 50px;
}